@media (min-height: 1080px) {
    .Hero_section{
        margin-bottom: 0vh;
    }
}

/* @media screen and (min-aspect-ratio: 16/10) {
    .Hero_section{
        margin-bottom: 20vh;
    }
} */


/* @media screen and (min-height: 731px ){
    .Projects {
        background-color: blue !important;
        padding-bottom: 20vh;
    }
} */