@media (max-width:35em){
    .nav_bar {
        display: flex;
        flex-direction: column;
        
    }
    .top_nav{
        width: 100%;
    }
    .top_nav .header__logo img {
        width: 70%;
    }

    .top_nav .mobile-nav-toggle{
        display: flex;
        margin-right: 0.5rem;
    }

    .primary-navigation{
        padding-left: 0.7rem;
        flex-direction: column;
        height: 100%;
        margin-top: .3rem !important;
        /* position: fixed;
        inset: 0 0 0 30%;
        background-color: steelblue;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem); */
    }    
    .header__logo{
        width: 100%;
        padding-left: 0;
    }
    /* .mobile-nav-toggle{
        right: 100%;
        position: absolute !important;
        background:red;
        width: 1rem;
        aspect-ratio: 1;
        display: none;
    } */
        

    .right > .divs {
        grid-template-columns: 1fr;
        padding-inline: 1rem;
    }
}
