@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700&family=Roboto+Slab:wght@400;600;700&display=swap');

:root{

    /* Colors */
    
    --clr-accent:#056cb0;
    --clr-bg: #e5f4f4;
    /* --clr-bg: #F4F5F5; */
    --clr-white: #ffffff;
    --clr-light-gray: #E6E6E6;

    /* -- Colors -- */

    /* Sizes */
    
    --fz-16: 1rem;
    
    
    /* -- Sizes -- */

    /* Font Family */
    
    --ff-martel: 'Martel', system-ui;
    --ff-roboto: 'Roboto Slab', system-ui;
    
    /* -- Font Family -- */

    /* Font Weight */
    
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    
    /* -- Font Weight -- */

}



body {
    background-color: var(--clr-bg);
    font-family: var(--ff-roboto);
}




/* NAV BAR */

.nav_bar{
    font-family: var(--ff-roboto);
    background-color: var(--clr-white);
    position: fixed;
    display: flex;

    /* padding: 1rem 1rem; */

    align-items: center;
    top:0;
    width: 100% ;

}
.main_nav{
    display: flex !important;
    margin: 0 !important;
    list-style: none !important;
    font-size: 1rem !important;
    
}
.main_nav ul{
    margin-left: 50px;
    
}
li{
    padding: 20px !important;
    
    
}
li:hover{
    background-color: #94B55C;
}
a {
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }
.header__logo{
    margin-right: 5rem;
}





/* HERO SECTION */

.Hero_section {
    display: flex;

    height: 100vh;
    /* width: 100%; */
    background-image: url(/img/hero/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    justify-content: center;
    align-items: center !important;

    color: var(--clr-white);

}
.Hero_section > span{
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-size: clamp(1rem,4vw,4.5rem);
    font-style: normal;
    font-weight: var(--fw-);
    line-height: normal;
    margin-top: 3.5rem;
    font-family: var(--ff-roboto);
}





/* WHAT WE DO */

/* .What_we_do {
    height: 100vh;
    width: 100%;
    background-image: url('./img/What we do/pattern.png');
    background-blend-mode: multiply; }*/


.What_we_do{
    display: flex;
    justify-content: space-around;
    height:90vh;
    width: 90vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    border: black solid 2px;
}

.What_we_do  img{
    position: relative;
}

.photos{
    width: 50%;
    height: 100% ;
}
.pattern, .back-pic, .front-pic{
    position: relative; 
}



/* .pattern > img{
    width: 70%;
    margin-left: 20%;
    margin-top: 15%;
}

.back-pic > img{
    height: 70vh;
    width: 60vh;
    top: -78vh;
    left: 5vw;
}
.front-pic > img{
    top: -140vh;
    left: 30vh;
    width: 47vh;
    height: 50vh;

} */




.text-part{
    width: 50%;
    
}
.header{
    width: 100%;
}










